---
---
<!DOCTYPE html>
<html lang="pt"> 
<head>
<meta property="og:url"                content="https://spibr.criatividade.digital" />
<meta property="og:type"               content="website" />
<meta property="og:title"              content="SPIKE PRIME Influencers Brasil" />
<meta property="og:description"        content="Aqui você vai encontrar as criações dos professores participantes do projeto SPIKE PRIME Influencers Brasil" />
<meta property="og:image"              content="https://spibr.criatividade.digital/assets/images/influencers.png" />

	<title>SPIKE PRIME Influencers Brasil</title>
	
	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Aqui você vai encontrar as criações dos professores participantes do projeto SPIKE PRIME Influencers Brasil">
	<meta name="author" content="Parau Branco (Parahuari) CRIATIVIDADE.digital">    
	<link rel="shortcut icon" href="favicon.ico"> 
	
	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:600,700,800|Roboto:300,400,700&display=swap" rel="stylesheet">
	
	<!-- FontAwesome JS-->
	<script defer src="assets/fontawesome/js/all.min.js"></script>

	<!-- Theme CSS -->  
	<link id="theme-style" rel="stylesheet" href="assets/css/theme.css">


</head> 

<body>    
	<header id="header" class="header fixed-top">	    
		<div class="branding">
			<div class="container-fluid">
				<nav class="main-nav navbar navbar-expand-lg">
					<div class="site-logo"><a class="scrollto" href="#hero-block"><spam style="color: white" class="logo-icon">SPIBR</spam></a></div>    
					
					
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					
					<div id="navigation" class="navbar-collapse collapse  justify-content-lg-end mr-lg-3">
						<ul class="nav navbar-nav">
							
							<li class="nav-item"><a class="nav-link scrollto" href="#about-section">Sobre</a></li>                                              
							<li class="nav-item"><a class="nav-link scrollto" href="#speakers-section">Participantes</a></li>
							<!--<li class="nav-item"><a class="nav-link scrollto" href="#schedule-section">Schedule</a></li>
							<li class="nav-item"><a class="nav-link scrollto" href="#tickets-section">Tickets</a></li>
							<li class="nav-item"><a class="nav-link scrollto" href="#venue-section">Venue</a></li>
							<li class="nav-item"><a class="nav-link scrollto" href="#sponsors-section">Sponsors</a></li>-->
						</ul><!--//nav-->
					</div><!--//navabr-collapse-->

				</nav><!--//main-nav-->
				
			</div><!--//container-->
		</div><!--//branding-->
	</header><!--//header-->
	
	<div id="hero-block" class="hero-block">
		<div id="hero-carousel" class="hero-carousel carousel slide carousel-fade" data-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item-1 carousel-item active">
				</div>
				<div class="carousel-item-2 carousel-item">
				</div>
				<div class="carousel-item-3 carousel-item">
				</div>
			</div>
		</div>
		<div class="hero-block-mask"></div>
		<div class="container">
			<div class="hero-text-block">
				<h1 class="hero-heading mb-2">SPIKE® Prime™ Influencers Brasil</h1>
				<!--<div class="hero-meta mb-3"><i class="far fa-calendar-alt mr-2"></i>12 - 15 Oct <i class="fas fa-map-marker-alt mx-2"></i>New York, USA</div>
				-->
				<div class="hero-intro mb-4">Acompanhe os trabalhos desenvolvidos pelos participantes.</div>
				<div class="hero-intro mb-4">#SPIKEPrimeInfluencersBrasil</div>
				<!--<div class="hero-cta"><a class="btn btn-primary btn-lg" href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/devconf-free-bootstrap-4-conference-template-for-tech-conferences-and-events/" target="_blank">Get Tickets</a></div>
			  -->
			</div><!--//hero-text-block-->
		</div><!--//container-->

	</div><!--//hero-block-->
	
	<div class="stats-block theme-bg-primary text-white py-4 text-center">
		<div class="container">
			<div class="row">
				<div class="col-6 col-md-3">
					<div class="item">
						<div class="number">50</div>
						<div class="unit">Participantes</div>
					</div><!--//item-->
				</div><!--//col-->
				<div class="col-6 col-md-3">
					<div class="item">
						<div class="number">8</div>
						<div class="unit">Semanas</div>
					</div><!--//item-->
				</div><!--//col-->
				<div class="col-6 col-md-3">
					<div class="item">
						<div class="number">60+</div>
						<div class="unit">Vídeos</div>
					</div><!--//item-->
				</div><!--//col-->
				<div class="col-6 col-md-3">
					<div class="item">
						<div class="number">100+</div>
						<div class="unit">Publicações</div>
					</div><!--//item-->
				</div><!--//col-->
			</div>
		</div><!--//container-->
	</div><!--//stats-block-->

	<section id="about-section" class="about-section section theme-bg-light">
		<div class="container">
			<!--<h3 class="section-heading text-center mb-3">SPIKEPrimeInfluencersBrasil</h3>-->
			<div class="section-intro single-col-max mx-auto mb-4">
				<p>Enquanto as escolas permanecem fechadas e as aulas continuam acontecendo de forma remota, professores e outros profissionais da educação se preparam para que o retorno às aulas presenciais seja muito mais dinâmico e enriquecedor para os alunos.
				</p>
				<p>Com o objetivo de torná-los influenciadores do aprendizado por meio de brincadeiras e da metodologia STEAM, a Tecnologia Educacional e a  LEGO® Education convidaram professores e apaixonados por educação e robótica a participarem de uma iniciativa que acontecerá no mundo todo.
				</p>
				<p>São 50 participantes no Brasil que receberam conjuntos SPIKE™ Prime em casa para testarem a solução educacional e todas as possibilidades que ela oferece. São oito semanas de muito aprendizado e troca de experiências. 
				</p>
				<br>
			</div>
			<div class="benefits-list text-center mb-3">
				<h4 class="text-center mb-4">Sugestões dos participantes</h4>
				<ul class="list-unstyled text-left d-inline-block">
					<li><i class="fas fa-check-circle mr-2"></i><a href="unboxing.html">Conhecendo o KIT LEGO® SPIKE™ Prime</a> - aka <i>Unboxing</i></li>
					<li><i class="fas fa-check-circle mr-2"></i><a href="inspirar.html">Modelos SPIKE™ Prime para inspirar!</a></li>
				</ul>
			</div><!--//benefits-list-->
		</div><!--//container-->
	</section><!--//about-section-->

	<section id="speakers-section" class="speakers-section section">
		<div class="container">
			<h3 class="section-heading text-center mb-3">Participantes</h3>
			<div class="section-intro text-center single-col-max mx-auto mb-5">Confira a lista dos <b>participantes</b> e os <b>materiais produzidos</b> durante o projeto.</div>
			<div class="row">
				{% for participante in site.participantes %}
				<div class="col-12 col-md-6 col-lg-3 mb-4">
					<div class="card rounded-0">
						<!--<a href="#modal-speaker-1" data-toggle="modal" data-target="#modal-speaker-1"> -->
						<a href="{{ participante.url }}">	
						  <img src="/participantes/{{ participante.foto }}" class="card-img-top rounded-0" alt=""><!--</a>-->
						</a>
						<div class="card-body" style="cursor: pointer;" onclick="javascript:window.location='{{ participante.url }}'">
							<h5 class="card-title mb-2">{{participante.nome}}</h5>
							<div class="card-text mb-3">
								<div class="meta">{{participante.atividade}}</div>
							  <div class="meta">{{participante.empresa}}</div>
							</div><!--//card-text-->
						</div><!--//card-->
						<div class="card-footer text-muted">
							<ul class="social-list list-inline mb-0">
								{% if participante.linkedin %}
								<li class="list-inline-item"><a class="resume-link" href="{{ participante.linkedin }}"><i class="fab fa-linkedin-in fa-fw "></i></a></li>
								{% endif %}
								{% if participante.facebook %}
								<li class="list-inline-item"><a class="resume-link" href=" {{ participante.facebook }}"><i class="fab fa-facebook fa-fw "></i></a></li>
								{% endif %}
								{% if participante.instagram %}
								<li class="list-inline-item"><a class="resume-link" href="https://instagram.com/{{ participante.instagram }}"><i class="fab fa-instagram fa-fw "></i></a></li>
								{% endif %}
								{% if participante.site %}
								<li class="list-inline-item"><a class="resume-link" href="https://{{ participante.site }}"><i class="fa fa-globe fa-fw "></i></a></li>
								{% endif %}
							</ul><!--//social-list-->
						</div>
					</div><!--//card-->
				</div><!--//col-->
				{% endfor %}
			</div><!--//row-->
		</div><!--//container-->
		
	</section><!--//speakers-section-->
	
	<footer class="footer py-5 theme-bg-primary">
		<div class="container text-center">
	
			 <!--/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */-->
			<small class="copyright">Designed with <i class="fas fa-heart" style="color: #EC645E;"></i> by <a href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a>. Organized by <a href="https://criatividade.digital" target="_blank"><b>CRIATIVIDADE.digital</b></a></small>
			
		</div><!--//container-->	    
	</footer>

	<!-- Javascript -->          
	<script src="assets/plugins/jquery-3.4.1.min.js"></script>
	<script src="assets/plugins/popper.min.js"></script>
	<script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>  
	<script src="assets/plugins/back-to-top.js"></script>
	<script src="assets/plugins/jquery.scrollTo.min.js"></script>
	<script src="assets/js/main.js"></script>  

</body>
</html> 

