<!DOCTYPE html>
<html lang="pt"> 
<head>
	<meta property="og:url"                content="https://spibr.criatividade.digital{{ page.url }}" />
  <meta property="og:type"               content="website" />
  <meta property="og:title"              content="{{page.nome}} - SPIKE Prime Influencers Brasil" />
  <meta property="og:description"        content="Aqui você vai encontrar as minhas criações desenvolvidas durante a participação no projeto SPIKE PRIME Influencers Brasil" />
  <meta property="og:image"              content="https://spibr.criatividade.digital/assets/images/influencers.png" />

	<title>{{page.nome}} - SPIKE Prime Influencers Brasil</title>
	
	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="Xiaoying Riley at 3rd Wave Media">    
	<link rel="shortcut icon" href="favicon.ico"> 
	
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
	
	<!-- FontAwesome JS-->
	<script defer src="/parts-page/fontawesome/js/all.min.js"></script>
	
	<!-- Theme CSS -->  
	<link id="theme-style" rel="stylesheet" href="/parts-page/css/devresume.css">
	<link id="theme-style" rel="stylesheet" href="/parts-page/fitvid/fitvid.css">
	<script defer src="/parts-page/fitvid/fitvid.js"></script>

	<!-- Facebook Pixel Code -->
	<script>
		!function(f,b,e,v,n,t,s)
		{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
		n.callMethod.apply(n,arguments):n.queue.push(arguments)};
		if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
		n.queue=[];t=b.createElement(e);t.async=!0;
		t.src=v;s=b.getElementsByTagName(e)[0];
		s.parentNode.insertBefore(t,s)}(window, document,'script',
		'https://connect.facebook.net/en_US/fbevents.js');
		fbq('init', '565593004347030');
		fbq('track', 'PageView');
	</script>
	<noscript><img height="1" width="1" style="display:none"
		src="https://www.facebook.com/tr?id=565593004347030&ev=PageView&noscript=1"/></noscript>
	<!-- End Facebook Pixel Code -->	
</head> 

<body>
	<div id="fb-root"></div>
	<script async defer crossorigin="anonymous" src="https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v7.0&appId=2385506498151963&autoLogAppEvents=1" nonce="pbBOfZZz"></script>
	<div class="main-wrapper">
		<div class="container px-3 px-lg-5">
			<article class="resume-wrapper mx-auto theme-bg-light p-5 mb-5 my-5 shadow-lg">
				<div class="resume-header">
					<div class="row align-items-center">
						<div class="resume-title col-12 col-md-6 col-lg-8 col-xl-9">
							<p><a href="/">&larr; SPIBR</a></p>
							<h2 class="resume-name mb-0 text-uppercase">{{page.nome}}</h2>
							<div class="resume-tagline mb-3 mb-md-0">{{page.atividade}}
							{% if page.empresa %}
							&#8212 {{page.empresa}}</div>
							{% else %}
							</div>
							{% endif %}
						</div><!--//resume-title-->
						<div class="resume-contact col-12 col-md-6 col-lg-4 col-xl-3">
							<ul class="list-unstyled mb-0">
								{% if page.linkedin %}
									<li class="mb-2"><i class="fab fa-linkedin fa-fw fa-lg mr-2 "></i><a class="resume-link" href="{{ page.linkedin }}">Perfil LinkedIn</a></li>
								{% endif %}
								{% if page.facebook %}
								<li class="mb-2"><i class="fab fa-facebook fa-fw fa-lg mr-2"></i><a class="resume-link" href=" {{ page.facebook }}">Página Facebook</a></li>
								{% endif %}
								{% if page.instagram %}
								<li class="mb-2"><i class="fab fa-instagram fa-fw fa-lg mr-2"></i><a class="resume-link" href="https://instagram.com/{{ page.instagram }}">{{ page.instagram }}</a></li>
								{% endif %}
								{% if page.youtube %}
								<li class="mb-2"><i class="fab fa-youtube fa-fw fa-lg mr-2"></i><a class="resume-link" href="{{page.youtube}}">Canal no Youtube</a></li>
								{% endif %}
								{% if page.site %}
								<li class="mb-2"><i class="fas fa-globe fa-fw fa-lg mr-2"></i><a class="resume-link" href="https://{{ page.site }}">{{ page.site }}</a></li>
								{% endif %}
								{% if page.cidade %}
								<li class="mb-0"><i class="fas fa-map-marker-alt fa-fw fa-lg mr-2"></i>{{ page.cidade }}</li>
								{% endif %}
							</ul>
						</div><!--//resume-contact-->
				</div><!--//resume-header-->
				<hr>
				<div class="resume-intro py-3">
					<div class="media flex-column flex-md-row align-items-center">
						<img class="resume-profile-image mb-3 mb-md-0 mr-md-5 ml-md-0 rounded-circle mx-auto" src="{{ page.foto }}" alt="image">
						<div class="media-body text-left">
							<p class="mb-0">{{ page.bio }}</p>
						</div><!--//media-body-->
					</div>
				</div><!--//resume-intro-->
				<hr>
				<div class="resume-body">
					<div class="row">
						{% for topicos in page.conteudos %}
						<div class="resume-main col-12 col-lg-8 col-xl-9 pr-0 pr-lg-5">
							<section class="work-section py-3">
								<h3 class="text-uppercase resume-section-heading mb-4"> {{topicos.topico}}</h3>
								{% for item in topicos.itens %}
								<div class="item mb-3">
									<div class="item-content">
										<p>{{ item.descricao }}</p>
										{% if item.tipo == "youtube" %}
										<center>
										<iframe class="d-block mx-auto" width="{{item.largura}}" height="{{item.altura}}" src="https://www.youtube.com/embed/{{item.id}}" frameborder="0"
										allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
									  </center>
										{% endif %}
										{% if item.tipo == "instagram" %}
										<center>
										<iframe src="https://www.instagram.com/p/{{item.id}}/embed" width="{{item.largura}}" height="{{item.altura}}" frameborder="0" scrolling="no" allowtransparency="true"></iframe>
										</center>
										{% endif %}
										{% if item.tipo == "link" %}
										<p><a href="{{ item.link }}" target="_blank">Clique aqui para acessar.</a></p>
										{% endif %}
										{% if item.tipo == "facebook" %}
										<div class="fb-video" data-href="{{item.link}}" data-show-text="false" data-width="">
										</div>
									  {% endif %}
									</div>
								</div><!--//item-->
								{% endfor %}
							</section><!--//uboxing-->
						</div>
						{% endfor %}





					</div><!--//row-->
				</div><!--//resume-body-->
			</article>
		</div><!--//container-->
				
		<footer class="footer text-center py-4">
			<!--/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */-->
			<small class="copyright">Designed with <i class="fas fa-heart" style="color: #EC645E;"></i> by <a href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a>. Organized by <a href="https://criatividade.digital" target="_blank"><b>CRIATIVIDADE.digital</b></a></small>
		</footer>
				
	</div><!--//main-wrapper-->

</body>
</html> 

